body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.chat-container {
    min-width: 250px;
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    overflow: hidden;
}
.chat-box {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.message {
    margin: 5px;
    padding: 8px 12px;
    border-radius: 20px;
    max-width: 70%;
}

.bot {
    align-self: flex-start;
    background-color: #ababab;
    max-width: 44%;
}

.user {
    align-self: flex-end;
    background-color: #000000;
    border: 2px solid #000000 ;
    color: #ffffff;
    align-self: flex-end; /* Alinea el mensaje del usuario al final del cuadro de chat */
    margin-top: auto; /* Empuja el mensaje del usuario hacia abajo para que aparezca desde el final */
    max-width: 44%;
    max-height: auto;
}
.input-container {
    display: flex;
    padding: 10px;
}

.message-input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
}

.send-button {
    padding: 8px 20px;
    border: none;
    border-radius: 20px;
    background-color: #000000;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.send-button:hover {
    background-color: #1e1e1e;
}

.voice-button{
    font-size: 30px;
    border-radius: 100%;
    border: 1px solid rgb(255, 255, 255);
    padding-left: 2px;
    background-color: white;
    padding-bottom: 10px;
}

.voice-button:hover{
    background-color: rgb(221, 221, 221);
}

.message {
    display: flex;
    align-items: center; /* Alinea los elementos verticalmente */
    margin: 5px;
    padding: 8px 12px;
    border-radius: 20px;
    max-width: 70%;
}

.bot {
    background-color: #dcdcdc;
}

.avatar {
    width: 30px; /* Ajusta el tamaño de la imagen del avatar */
    height: 30px;
    margin-right: 10px; /* Añade un margen entre la imagen y el texto */
    border-radius: 100%; /* Para que la imagen sea circular */
}

#chat-log {
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 10px;
}

/* Estilos para pantallas de 365 a 700 píxeles de ancho */
@media only screen and (min-width: 365px) and (max-width: 700px) {
    body {
        font-size: 10px; /* Reducir aún más el tamaño de la fuente */
    }
    .chat-container {
        width: 340px /* Reducir el ancho del contenedor de chat al 40% */
    }
    .message {
        max-width: 30%; /* Reducir el ancho máximo de los mensajes al 60% */
    }
    .avatar {
        left: -20px; /* Ajustar la posición del avatar */
    }
    .message-input {
        max-width: 40%; /* Reducir el ancho máximo del input de mensaje al 60% */
    }
    .send-button,
    .voice-button {
        padding: 3px 8px; /* Reducir aún más el padding de los botones */
    }
}

.container {
    text-align: center;
    margin-top: 50px;
  }
  
  #colorBtn {
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border: none;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  #colorPicker {
    margin-top: 20px;
    align-items: center;
    align-self: center;
    align-self: center;
    margin: 0 auto; /* Esto centrará el color picker horizontalmente */
    border: none;
    margin-bottom: 20px;
  }
  

  .amen-btn, .dism-btn {
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 15px;
  }
  
  .button-container {
    text-align: center;
  }